<div class="page-header">
  <h1>New Users</h1>
</div>

<div class="breadcrumb">
  <li><a href="/users">Users</a></li>
  <li class="active">New User</li>
</div>

<%= render 'form' %>

</div>
</div>
</div>
