<html>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>gCamp</h1>
    <p>Your life, organized.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>
<!--

<img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/10734177_10102676480852813_1305155198920395811_n.jpg?oh=64b65f2d95d2b944a31ccb6fd21f04e2&oe=55213D18&__gda__=1433068621_574a2266885198e60110152472b36395" />

<%= image_tag('https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/10734177_10102676480852813_1305155198920395811_n.jpg?oh=64b65f2d95d2b944a31ccb6fd21f04e2&oe=55213D18&__gda__=1433068621_574a2266885198e60110152472b36395')%>

-->
</html>
