<div class="page-header">
  <div class="pull-right">
    <a class="btn btn-info" href="/projects/new">New Project</a>
  </div>
  <h1>Projects</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Tasks</th>
    </tr>
  </thead>

  <tbody>
    <% if current_user %>
    <% current_user.projects.each do |project| %>
    <tr>
      <td><%= link_to project.name, project %></td>
      <td><%= link_to pluralize(project.tasks.count, "Task"), project_tasks_path(project, @task)%></td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
