
@import "bootstrap-sprockets";
 @import "bootstrap";

 .row {
   margin-left: -15px;
   margin-right: -15px;
 }

 .page-header {
   padding-bottom: 9px;
   margin: 40px 0 20px;
   border-bottom: 1px solid #eeeeee;
 }

 .img-footer {
   max-width: 2em;
   max-height: 2em;
   margin-right: .5em;
 }

 .panel-primary>.panel-heading {
   color: white;
   background-color: #428bca;
   border-color: #428bca;
 }

 .panel-heading {
   padding: 10px 15px;
   border-bottom: 1px solid transparent;
   border-top-right-radius: 3px;
   border-top-left-radius: 3px;
 }

 body {
   padding-top: 60px;
 }

 footer {
   padding: 1em 0;
   margin-top: 1em;
   border-top: 1px solid #ccc;
 }
