<!DOCTYPE html>
<html>
<head>
  <title>GCampHayleyBlackstock</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">gCamp</a>
      </div>
    </div>
  </div>

  <div class="container">
  <%= yield %>

  <footer>
    <div class="row">
      <div class="col-md-6">
        <a href="/about">About</a>
        |
        <a href="/terms">Terms</a>
        |
        <a href="/faq">FAQ</a>
        |
        <a href="/tasks">Tasks</a>
      </div>

      <div class="col-md-6 text-right">
        <a href="https://www.linkedin.com/in/hayleyblackstock">
          <img alt="Linked in" class="img-footer" src="/assets/LinkedIn.png">
        </a>
        <a href="https://github.com/hayleyblackstock">
          <img alt="Github" class="img-footer" src="/assets/GitHub.png">
        </a>
        <a href="https://twitter.com/hkblackstock">
          <img alt="Twitter" class="img-footer" src="/assets/Twitter.png">
        </a>
        <a href="https://students.gschool.it/cohorts/9/students/204">
          <img alt="Galvanize g" class="img-footer" src="/assets/gSchool.png">
        </a>        </div>
      </div>

</div>


</body>
</html>
